body {
  background-image: url(../img/background.jpg);
  background-attachment: fixed;
  background-size: cover;
}

.hidden {
  display: none;
}

.headder {
  background-color: rgba(240, 248, 255, 0.699);
}

.main {
  background-color: rgba(0, 0, 0, 0.514);
  color: white;
}

#price-display {
  font-size: xx-large;
}